.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee-text {
    display: inline-block;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  